@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
@font-face {
  font-family: "fonteLogo";
  src: url("../_fonts/bubblegum-sans-regular.otf");
}

body {
  font-family: "Arial", sans-serif;
  background-color: #6b6868;
  color: #1f1c1f;
  /*text-align: left;*/
}

div#interface {
  width: 99%;
  background-color: #ffff;
  margin: -20px auto 0px auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

div#interface img#Caruaru {
  width: 100%;
  max-height: 400px;
  top: 0px;
}

div#interface img#banner {
  max-width: 150px;
  max-height: 150px;

  position: absolute;
  left: 1200px;
  top: 420px;
}

header#branco img#difusora {
  width: 100%;
  max-width: 600px;
  max-height: 300px;
  padding-left: 70px;
  padding-right: 70px;
}

header#branco img#armazem {
  width: 100%;
  max-width: 600px;
  max-height: 300px;
  padding-left: 70px;
  padding-right: 70px;
}

p {
  text-align: justify;
  text-indent: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

a {
  color: #606060;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header#cabecalho img#icone {
  max-width: 180px;
  max-height: 180px;
  position: absolute;
  left: 180px;
  top: 420px;
}

header#cabecalho img#iot {
  width: 100%;
  max-width: 550px;
  max-height: 250px;
  position: absolute;
  left: 1020px;
  top: 600px;
}

header#parcas img#logos {
  max-width: 150px;
  max-height: 150px;
  padding-left: 50px;
  padding-right: 50px;
}
header#parcas img#logo {
  max-width: 150px;
  max-height: 150px;
  padding-left: 50px;
  padding-right: 50px;
}

header#parcas img#log {
  max-width: 150px;
  max-height: 150px;
  padding-left: 50px;
  padding-right: 50px;
}

header#parcas img#lo {
  max-width: 150px;
  max-height: 150px;
  padding-left: 50px;
  padding-right: 50px;
}

header#parcas img#l {
  max-width: 150px;
  max-height: 150px;
  padding-left: 50px;
  padding-right: 50px;
}

header#parcas img#logosi {
  max-width: 150px;
  max-height: 150px;
  padding-left: 50px;
  padding-right: 50px;
}

header#branco h3 {
  text-align: center;
}

header#cabecalho {
  border-bottom: 1px #606060 solid;
  height: 150px;
}

header#cabecalho h1 {
  font-family: "fonteLogo", sans-serif;
  font-size: 42pt;
  color: #06ddb9f6;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
  padding: 0px;
  margin-bottom: 0px;
  text-align: center;
}

header#cabecalho h2 {
  font-family: "Titillium Web", sans-serif;
  font-size: 15pt;
  color: #000000;
  padding: 0px;
  margin-top: 0px;
  text-align: center;
}

header#alternative h3 {
  color: #000000;
  padding-left: 50px;
  margin: 10px 0px 10px 0px;
  padding-bottom: 10px;
  padding-top: 10px;
}

header#alternative p {
  text-align: justify;
  padding-right: 600px;
  padding-bottom: 15px;
}

header#parcas p {
  text-align: justify;
  padding-left: 50px;
  padding-right: 50px;
}

header#parcas h3 {
  color: #110e0e;
  padding: 5px 0px 5px 10px;
  margin: 10px 0px 10px 0px;
  text-align: center;
}

div#amarelo h3 {
  color: #110e0e;
  padding: 5px 0px 5px 10px;
  margin: 10px 0px 10px 0px;
  text-align: center;
}
div#cinza h3 {
  color: #110e0e;
  padding: 5px 0px 5px 10px;
  margin: 10px 0px 10px 0px;
  text-align: center;
}

header#alter h3 {
  color: #110e0e;
  padding: 5px 0px 5px 10px;
  margin: 10px 0px 10px 0px;
  text-align: center;
}

figure.foto-legenda {
  position: relative;
  border: 8px solid white;
  box-shadow: 1px 1px 4px black;
  box-sizing: border-box;
}

figure.foto-legenda img {
  width: 100%;
  height: 100%;
}

div#interface img#web {
  max-width: 100px;
  max-height: 100px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 958px;
  top: 420px;
}

div#branco h3 {
  color: #110e0e;
  padding: 5px 0px 5px 10px;
  margin: 10px 0px 10px 0px;
  text-align: center;
}

div#branco p {
  text-align: justify;
  padding-left: 50px;
  padding-right: 50px;
}

nav#menu {
  display: block;
}

nav#menu ul {
  list-style: inside;
  text-transform: uppercase;
  position: absolute;
  top: -20px;
  left: 170px;
}

nav#menu li {
  display: inline-block;
  background-color: #8b9797;
  padding: 10px;
  margin: 2px;
  transition: background-color 1s;
  border-radius: 2rem;
}

nav#menu li:hover {
  background-color: #06ddb9f6;
}

nav#menu h1 {
  display: none;
}

nav#menu a {
  color: #ffff;
  text-decoration: none;
}

footer#rodape {
  clear: both;
  border-top: 1px solid #181414;
}

footer#rodape p {
  text-align: center;
}
